Repository TomWeisner/rostering: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, mypy

poetry-check:
  name: poetry check (sanity)
  entry: poetry check --no-interaction
  language: system
  pass_filenames: false

mypy:
  name: mypy (via poetry)
  entry: poetry run mypy --config-file pyproject.toml
  language: system
  additional_dependencies: []

update url
  README.md
Due: none

change branch of publish
  .github/workflows/publish_testpypi.yml
Due: none

update ymls
  .github/workflows/publish_testpypi.yml
  .github/workflows/tests.yml
  .gitignore
  README.md
  noxfile.py
Due: none

incrementing version number test
  pyproject.toml
Due: poetry-check

nox
  .vscode/settings.json
  README.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/rostering/app.py
  src/rostering/build.py
  src/rostering/config.py
  src/rostering/data.py
  src/rostering/extract.py
  src/rostering/generate/staff.py
  src/rostering/generate/staff_names.py
  src/rostering/main.py
  src/rostering/model.py
  src/rostering/precheck.py
  src/rostering/progress.py
  src/rostering/reporting.py
  src/rostering/result_types.py
  src/rostering/rules/availability.py
  src/rostering/rules/base.py
  src/rostering/rules/coverage_minima.py
  src/rostering/rules/decision_variables.py
  src/rostering/rules/fairness.py
  src/rostering/rules/interval_link.py
  src/rostering/rules/min_length_shift.py
  src/rostering/rules/objective.py
  src/rostering/rules/registry.py
  src/rostering/rules/rest.py
  src/rostering/rules/run_penalty.py
  src/rostering/rules/weekly_cap.py
  src/rostering/solver.py
  tests/test_rostering/test_progress.py
Due: poetry-check, mypy

neater
  src/rostering/build.py
  src/rostering/config.py
  src/rostering/data.py
  src/rostering/extract.py
  src/rostering/generate/staff.py
  src/rostering/generate/staff_names.py
  src/rostering/main.py
  src/rostering/model.py
  src/rostering/precheck.py
  src/rostering/progress.py
  src/rostering/reporting.py
  src/rostering/rules/availability.py
  src/rostering/rules/base.py
  src/rostering/rules/coverage.py
  src/rostering/rules/coverage_minima.py
  src/rostering/rules/fairness.py
  src/rostering/rules/interval_link.py
  src/rostering/rules/registry.py
  tests/test_rostering/test_progress.py
Due: mypy

bump version
  pyproject.toml
Due: poetry-check

nox
  poetry.lock
  pyproject.toml
  src/rostering/config.py
  src/rostering/extract.py
  src/rostering/model.py
  src/rostering/precheck.py
  src/rostering/reporting.py
  src/rostering/result_types.py
  src/rostering/rules/availability.py
  src/rostering/rules/base.py
  src/rostering/rules/coverage.py
  src/rostering/rules/decision_variables.py
  src/rostering/rules/fairness.py
  src/rostering/rules/interval_link.py
  src/rostering/rules/objective.py
  src/rostering/rules/registry.py
  src/rostering/rules/shift_interval.py
Due: poetry-check, mypy

report refactors
  .gitignore
  src/rostering/build.py
  src/rostering/config.py
  src/rostering/generate/staff.py
  src/rostering/input_data.py
  src/rostering/main.py
  src/rostering/model.py
  src/rostering/precheck.py
  src/rostering/progress.py
  src/rostering/reporting.py
  src/rostering/reporting/__init__.py
  src/rostering/reporting/adapters.py
  src/rostering/reporting/data_models.py
  src/rostering/reporting/metrics.py
  src/rostering/reporting/plots.py
  src/rostering/reporting/reporter.py
  src/rostering/reporting/text_report.py
  src/rostering/result_types.py
  src/rostering/rules/base.py
  src/rostering/rules/coverage.py
  src/rostering/rules/decision_variables.py
  src/rostering/rules/fairness.py
  src/rostering/rules/min_length_shift.py
  src/rostering/rules/registry.py
  src/rostering/rules/rest.py
  src/rostering/rules/run_penalty.py
  src/rostering/rules/weekly_cap.py
  src/rostering/solver.py
  tests/rostering/generate/test_staff.py
  tests/rostering/test_progress.py
Due: mypy

reporting tests
  README.md
  pyproject.toml
  src/rostering/generate/staff.py
  src/rostering/reporting/README.md
  tests/rostering/reporting/test_adapters.py
  tests/rostering/reporting/test_metrics.py
  tests/rostering/reporting/test_plots.py
  tests/rostering/reporting/test_reporter.py
  tests/rostering/reporting/test_text_report.py
Due: poetry-check, mypy

update readme
  README.md
Due: none

report.pdf
  .gitignore
  README.md
  src/example.py
  src/example_staff.json
  src/rostering/__init__.py
  src/rostering/config.py
  src/rostering/extract.py
  src/rostering/generate/staff.py
  src/rostering/input_data.py
  src/rostering/main.py
  src/rostering/precheck.py
  src/rostering/progress.py
  src/rostering/reporting/plots.py
  src/rostering/reporting/reporter.py
  src/rostering/reporting/text_report.py
  src/rostering/rules/availability.py
  src/rostering/rules/base.py
  src/rostering/rules/max_consecutive_days.py
  src/rostering/rules/registry.py
  src/rostering/rules/rest.py
  src/rostering/rules/shift_interval.py
  src/rostering/solver.py
  tests/rostering/generate/test_staff.py
  tests/rostering/reporting/test_metrics.py
  tests/rostering/reporting/test_plots.py
  tests/rostering/reporting/test_reporter.py
  tests/rostering/reporting/test_text_report.py
  tests/rostering/test_progress.py
  tests/rostering/test_solver.py
Due: mypy

run_solver entry
  src/example.py
  src/example_staff.json
  src/rostering/__init__.py
  src/rostering/config.py
  src/rostering/input_data.py
  src/rostering/main.py
  src/rostering/reporting/plots.py
  src/rostering/reporting/reporter.py
  src/rostering/reporting/text_report.py
  tests/rostering/reporting/test_metrics.py
  tests/rostering/reporting/test_plots.py
  tests/rostering/reporting/test_reporter.py
  tests/rostering/reporting/test_text_report.py
  tests/rostering/test_solver.py
Due: mypy

create output csv
  README.md
  src/example.py
  src/example_hour_of_day_skill_bar_chart.png
  src/example_solution_progress.png
  src/example_staff.json
  src/rostering/build.py
  src/rostering/config.py
  src/rostering/extract.py
  src/rostering/main.py
  src/rostering/model.py
  src/rostering/progress.py
  src/rostering/reporting/reporter.py
  src/rostering/reporting/stats.py
  src/rostering/result_types.py
  src/rostering/rules/band_shortfall.py
  src/rostering/rules/base.py
  src/rostering/rules/consecutive_days.py
  src/rostering/rules/fairness.py
  src/rostering/rules/max_consecutive_days.py
  src/rostering/rules/registry.py
  src/rostering/rules/rest.py
  src/rostering/rules/run_penalty.py
  src/rostering/rules/shift_interval.py
  src/rostering/rules/weekly_cap.py
  tests/rostering/rules/test_band_shortfall.py
  tests/rostering/rules/test_consecutive_days.py
  tests/rostering/rules/test_registry.py
Due: mypy

rules in examples
  README.md
  src/example.py
  src/example_staff.json
  src/rostering/generate/staff.py
  src/rostering/input_data.py
  src/rostering/main.py
  src/rostering/model.py
  src/rostering/output.py
  src/rostering/progress.py
  src/rostering/reporting/README.md
  src/rostering/reporting/model_stats.py
  src/rostering/reporting/plots.py
  src/rostering/reporting/reporter.py
  src/rostering/result_types.py
  src/rostering/rules/band_shortfall.py
  src/rostering/rules/consecutive_days.py
  src/rostering/rules/coverage.py
  src/rostering/rules/fairness.py
  src/rostering/rules/helpers.py
  src/rostering/rules/min_length_shift.py
  src/rostering/rules/registry.py
  src/rostering/rules/shift_interval.py
  src/rostering/rules/weekly_cap.py
  src/rostering/staff.py
  tests/rostering/generate/test_staff.py
  tests/rostering/reporting/test_metrics.py
  tests/rostering/reporting/test_plots.py
  tests/rostering/reporting/test_reporter.py
  tests/rostering/reporting/test_text_report.py
  tests/rostering/rules/test_consecutive_days.py
  tests/rostering/rules/test_fairness.py
  tests/rostering/test_solver.py
Due: mypy

staff tests
  src/example.py
  src/rostering/generate/make_staff.py
  src/rostering/input_data.py
  tests/rostering/generate/test_make_staff.py
  tests/rostering/test_staff.py
Due: mypy

update readmes
  README.md
  src/README.md
  src/example_shifts_gantt.png
  src/example_staff.json
  src/rostering/main.py
  src/rostering/output.py
  src/rostering/rules/README.md
Due: mypy

bump version
  README.md
  pyproject.toml
Due: poetry-check

better image
  src/example_shifts_gantt.png
  src/rostering/output.py
Due: mypy

images pypi can show
  .DS_Store
  README.md
Due: none

adding medium article to readme
  README.md
Due: none

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  mypy: any of: ^(src|tests)/ and \.py$
